<div class="max-w-xs text-center h-full absolute">
    <div class="relative">
        <h1 class="py-12 text-5xl font-bold text-gray-600">Klanten</h1>
        <a href="{% url 'add_client' %}">
            <svg class="w-8 h-8 absolute right-0 top-1/2 transform translate-x-6 text-teal-400 hover:text-teal-600"
                 fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
    <div class="flex flex-col gap-12 justify-center items-center mt-6">
        {% for client in clients %}
            <a href="{% url 'client_detail' client.id %}"
               class="ring-2 border-2xl p-3 w-full rounded-2xl text-gray-400 font-semibold hover:shadow-2xl hover:text-gray-500
                {% if detail_client.id == client.id %}
                   ring-teal-400 shadow-xl bg-white text-teal-400
                {% else %}
                   ring-gray-300
                {% endif %} ">{{ client.name }}</a>
        {% endfor %}
    </div>
</div>