{% extends 'base.html' %}
{% block title %}
    Klanten
{% endblock %}

{% block body %}
    <a href="{% url 'clients' %}">
        <svg class="w-10 h-10 text-teal-400 absolute right-10 top-10" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
                  clip-rule="evenodd"></path>
        </svg>
    </a>

    <div class="pt-8">
        <div class="bg-white rounded-2xl text-center shadow-xl pb-8">
            <h1 class="text-3xl font-bold text-gray-500 py-4">Klanten Overzicht</h1>


            <div class="shadow-2xl mx-24 mt-12 pb-8 rounded-2xl">
                <form x-data="{newClientSubmitted: false}" class="text-left py-6 mx-24" method="POST" action="">
                    <p class="uppercase text-teal-400 font-bold text-2xl">Nieuwe Klant</p>
                    <hr>
                    <div class="flex justify-around py-8">
                        {% csrf_token %}
                        <div>
                            <p>Naam</p>
                            {{ form.name }}
                        </div>
                        <div>
                            <p>Type bedrijf</p>
                            {{ form.kind_of }}
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-around pt-8">
                        <div>
                            <p>Straat</p>
                            {{ form.street }}
                        </div>
                        <div>
                            <p>Huisnummer</p>
                            {{ form.street_num }}
                        </div>
                    </div>
                    <div class="flex justify-around pb-8">
                        <div>
                            <p>Postcode</p>
                            {{ form.postal_code }}
                        </div>
                        <div>
                            <p>Gemeente</p>
                            {{ form.town }}
                        </div>
                    </div>
                    <hr>
                    <div class="flex justify-around py-8">
                        <div>
                            <p>BTW-nr</p>
                            {{ form.vat }}
                        </div>
                        <div>
                            <p>Email voor facturatie</p>
                            {{ form.invoice_email }}
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button @click="newClientSubmitted = true" type="submit"
                                class="bg-teal-400 py-1 px-2 rounded mt-4 text-white font-semibold">Toevoegen
                        </button>
                    </div>
                </form>
                <hr class="border-2">
                <table class="w-10/12 mx-auto mt-6 text-gray-500 rounded-2xl overflow-hidden">
                    <thead class="text-left border-b-2 border-gray-500 bg-gray-100 uppercase">
                    <tr>
                        <th class="py-4 pl-4">Naam</th>
                        <th>BTW-nr</th>
                        <th>email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr class="text-left border-b-2 border-teal-400">
                            <td class="py-2 pl-4">{{ client.name }}</td>
                            <td>{{ client.vat }}</td>
                            <td>
                                <div class="flex justify-between items-center">
                                    {{ client.invoice_email }}
                                    <div class="flex">
                                        <a href="" class="text-teal-400 pr-4">
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                                            </svg>
                                        </a>
                                        {# Todo: link plaatsen #}
                                        <a href="{% url 'add_contact' client.id %}" class="text-teal-400 pr-4">
                                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
                                            </svg>
                                        </a>
                                        <a href="{% url 'add_order' client.id %}" class="text-teal-400 pr-4">
                                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                      d="M4 4a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V8a2 2 0 00-2-2h-5L9 4H4zm7 5a1 1 0 00-2 0v1H8a1 1 0 000 2h1v1a1 1 0 002 0v-1h1a1 1 0 000-2h-1V9z"
                                                      fill-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}

{% block detail %}{% endblock detail %}